body {
  background-color: rgb(76, 76, 211);
}
h1 {
  color: red;
  background-color: blue;
}
p {
  color: green;
  font-size: 15px;
}
#mainPar {
  color: rgb(163, 103, 209);
}
/* Hashtag is ID. Period is Class */
.veg {
  color: greenyellow;
}
.meat {
  color: maroon;
}
.carb {
  color: beige;
}
.fruit {
  color: cornflowerblue;
}
